.background{
    background-color: #98A886;
}

.navtext{
    color: #465C69;
}
.container{
    display: flex;
    justify-items: center;
    height: 90vh;
    align-items: center;
}
.welcome{
    text-align: center;
    color: #465C69;
}

.musician{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    /* width: 20%; */
    margin: 20px;
    list-style: none;
    color: #363457;
}

.musician-container{
    display: flex;
    flex-direction: row;
    width: 75vw;
    padding: 10px;
    justify-content: center;
    align-self: center;
}